body{
    background-color: darkslateblue;
}
.imgBox{
    background-image: url('logo.png');
    position: relative;
    top: 7px;
    left: 5px;
    height: 145px;
    width: 145px;
}

.whitebox{
    display: inline-block;
    height: 155px;
    width: 155px;
    margin: 15px;
    background-color: white;
    border: 3px black solid;

}

.hold{
    border: solid red 4px;
}

.hide{
    display: none;
}

