.container{
    text-align: center;
    margin-top: 25px;

}
table{
    margin: auto;
    
}
input{
    font-size: 30px;
    border: 3px solid black;
    border-radius: 8px;
}

button{
    font-size: 40px;
    background: pink;
    width: 90px;
    height: 50px;
    border-radius: 20px;
}

.calculater{
    
    display: inline-block;
}